.card-container {
    position: relative;
    margin: auto;
    width: 65%;
    box-shadow: 0px 0px 15px -5px;
    margin-top: 0.5rem;
    border-radius: 20px;
    background: linear-gradient(315deg, rgba(49, 49, 50, 1) 0%, rgba(22, 22, 24, 1) 100%);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.friend {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.image-container img {
    position: relative;
    overflow: hidden;
    width: 20vw;
    margin: auto;
    margin-top: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

h3,
p {
    margin: 0;
    padding: 0;
}

.card-icon img {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 35px;
    float: left;
    border-radius: 50% 50%;
}

.userName {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: rgb(246, 246, 246);
}

.card-starRating {
    right: 0;
    margin-right: 1.3rem;
    margin-top: 1.3rem;
}

.movieName {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    margin-left: 1rem;
    margin-top: 2rem;
    color: rgb(211, 211, 211);
}

.card-description {
    position: relative;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    color: rgb(211, 211, 211);
}

.like-disLike {
    position: relative;
    bottom: 1rem;

}

.addIcon-container {
    position: relative;
    margin-top: 1.3rem;
    right: 5%;
}

.add-icon {
    cursor: pointer;
    float: right;
    width: 30px;
}

.movie {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.movie input {
    position: relative;
    width: 50%;
    font-size: 18px;
    height: 100px;
    align-items: center;
    margin-bottom: 1rem;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}

.movie input:focus {
    outline: none;
    box-shadow: 0px 0px 15px -5px;
}

.movie button {
    height: 40px;
    width: 13%;
    align-content: center;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    font-size: 20px;
}

.movie button:focus {
    outline: none;
}