@media only screen and (max-width: 540px) {
    .card-icon img {
        width: 25px;
    }

    .movieName {
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    .movieName h1 {
        font-size: 30px;
    }

    .card-description {
        font-size: 14px;
        width: 100%;
    }

    .movie {
        flex-direction: column;
    }

    .description {
        width: 100%;
        font-size: 10px;
    }

    .movie button {
        width: 40%;
        font-size: 14px;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .left-side {
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    .left-side h2 {
        font-size: 25px;
    }

    .left-side h4 {
        font-size: 15px;
        margin-right: 0;
    }

    .profile-form {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        align-items: center;

    }

    .profile-form input {
        font-size: 14px;
    }

    .right-side {
        margin-left: 0;
        width: 50%;
        margin-right: 0;
        align-items: center;
    }

    .profile {
        margin-bottom: 2rem;
        margin-left: 0;
        margin-right: 0;
    }

    .right-side button {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        justify-content: center;
    }

    .loging-icon {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .loging-icon img {
        width: 40%;
        margin: 0;
    }

    .loging-form {
        width: 80%;
        align-items: center;
    }

    .loging-form label {
        position: relative;
        padding: 0;
    }

    .loging-form input {
        font-size: 14px;
    }

    .loging-form button {
        height: 30px;
        width: 50%;
        margin-bottom: .75rem;
        margin-top: .75rem;
        margin-right: 0rem;
        font-size: 14px;
    }

    .register-icon {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .register-icon img {
        width: 40%;
        margin: 0;
    }

    .register-form {
        width: 80%;
        align-items: center;
    }

    .register-form label {
        padding-left: 0rem;
    }

    .register-form input {
        font-size: 14px;
    }

    .register-form button {
        position: relative;
        height: 30px;
        width: 100%;
        margin-bottom: .75rem;
        margin-top: .75rem;
        margin-right: 0rem;
        font-size: 14px;
        padding: 0;
    }
}